.back-button {
  width: 20%;
  align-self: flex-start;
}

.add-cart-button {
  width: 200px;
}

.carousel :global(.carousel-indicators) {
  bottom: -30px;
}

.product-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
}

.product-brand {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-subtitle);
  line-height: var(--line-height-subtitle);
}

.product-price {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
}

.product-description {
  text-align: justify;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: var(--line-height-small);
}

.product-text {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}

.product-details-table {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
}

@media (max-width: 576px) {
  .back-button {
    width: 20%;
    align-self: flex-end;
  }
  .add-cart-button {
    width: 100%;
    align-self: stretch;
  }
}
