.cart-button {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 200ms ease;

  width: 33%;
}

.cart-button:hover {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease;
}

.modal-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: var(--line-height-title);
}

.modal-body {
  min-height: 50vh;
}