.pagination-controls :global(.page-link) {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
  line-height: var(--line-height-small);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 200ms ease;
}

.pagination-controls:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease;
}